In [1]:
from db import DB

In [2]:
database = DB(filename='logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [3]:
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [4]:
log_df = database.tables.log

In [5]:
log_df

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

In [6]:
log_df = database.tables.log.all()

In [7]:
log_df

     id                  path  user_id                 date
0     1                     /        3  2017-01-03T11:41:00
1     2              /pandas/        4  2017-01-03T11:37:00
2     3              /videos/        5  2017-01-03T10:47:00
3     4                     /        2  2017-01-03T11:51:00
4     5  /python-para-zumbis/        5  2017-01-03T10:32:00
5     6              /cursos/        3  2017-01-03T11:31:00
6     7              /videos/        4  2017-01-03T10:39:00
7     8              /cursos/        5  2017-01-03T10:55:00
8     9                     /        4  2017-01-03T11:50:00
9    10              /pandas/        1  2017-01-03T11:38:00
10   11    /django-ecommerce/        5  2017-01-03T11:42:00
11   12                     /        4  2017-01-03T11:50:00
12   13    /django-ecommerce/        3  2017-01-03T11:59:00
13   14    /django-ecommerce/        4  2017-01-03T10:43:00
14   15  /python-para-zumbis/        5  2017-01-03T11:53:00
15   16              /cursos/        3  2017-01-03T11:39:00
16   17    /django-ecommerce/        5  2017-01-03T11:40:00
17   18  /python-para-zumbis/        5  2017-01-03T11:45:00
18   19              /pandas/        2  2017-01-03T11:36:00
19   20    /django-ecommerce/        2  2017-01-03T10:31:00
20   21              /videos/        2  2017-01-03T11:33:00
21   22    /django-ecommerce/        3  2017-01-03T10:35:00
22   23                     /        1  2017-01-03T11:56:00
23   24    /django-ecommerce/        4  2017-01-03T11:51:00
24   25              /cursos/        1  2017-01-03T10:54:00
25   26              /cursos/        4  2017-01-03T11:59:00
26   27  /python-para-zumbis/        2  2017-01-03T10:43:00
27   28    /django-ecommerce/        3  2017-01-03T11:57:00
28   29              /pandas/        1  2017-01-03T10:42:00
29   30              /cursos/        5  2017-01-03T10:57:00
..  ...                   ...      ...                  ...
70   71              /videos/        1  2017-01-03T11:50:00
71   72              /videos/        5  2017-01-03T11:59:00
72   73                     /        3  2017-01-03T11:49:00
73   74                     /        2  2017-01-03T11:34:00
74   75              /pandas/        4  2017-01-03T11:35:00
75   76              /pandas/        1  2017-01-03T11:48:00
76   77              /pandas/        2  2017-01-03T11:35:00
77   78  /python-para-zumbis/        3  2017-01-03T11:54:00
78   79              /pandas/        3  2017-01-03T11:57:00
79   80              /videos/        3  2017-01-03T11:32:00
80   81              /pandas/        2  2017-01-03T10:36:00
81   82    /django-ecommerce/        3  2017-01-03T11:39:00
82   83              /pandas/        3  2017-01-03T11:51:00
83   84              /videos/        1  2017-01-03T11:51:00
84   85    /django-ecommerce/        3  2017-01-03T10:45:00
85   86              /videos/        4  2017-01-03T11:59:00
86   87              /cursos/        2  2017-01-03T10:47:00
87   88                     /        5  2017-01-03T11:56:00
88   89  /python-para-zumbis/        1  2017-01-03T11:34:00
89   90  /python-para-zumbis/        2  2017-01-03T11:35:00
90   91              /pandas/        2  2017-01-03T11:33:00
91   92  /python-para-zumbis/        1  2017-01-03T11:33:00
92   93              /videos/        2  2017-01-03T11:59:00
93   94    /django-ecommerce/        3  2017-01-03T11:54:00
94   95              /pandas/        2  2017-01-03T11:39:00
95   96    /django-ecommerce/        1  2017-01-03T10:49:00
96   97                     /        5  2017-01-03T10:33:00
97   98              /cursos/        5  2017-01-03T10:31:00
98   99  /python-para-zumbis/        3  2017-01-03T10:56:00
99  100              /cursos/        4  2017-01-03T11:46:00

[100 rows x 4 columns]

In [8]:
log_df = database.query('select * from log where user_id = 3')

In [9]:
log_df

    id                  path  user_id                 date
0    1                     /        3  2017-01-03T11:41:00
1    6              /cursos/        3  2017-01-03T11:31:00
2   13    /django-ecommerce/        3  2017-01-03T11:59:00
3   16              /cursos/        3  2017-01-03T11:39:00
4   22    /django-ecommerce/        3  2017-01-03T10:35:00
5   28    /django-ecommerce/        3  2017-01-03T11:57:00
6   34              /pandas/        3  2017-01-03T11:43:00
7   38              /videos/        3  2017-01-03T11:58:00
8   47              /pandas/        3  2017-01-03T10:55:00
9   51  /python-para-zumbis/        3  2017-01-03T11:57:00
10  56                     /        3  2017-01-03T11:45:00
11  60              /videos/        3  2017-01-03T11:37:00
12  64                     /        3  2017-01-03T10:48:00
13  66    /django-ecommerce/        3  2017-01-03T10:54:00
14  69  /python-para-zumbis/        3  2017-01-03T11:50:00
15  73                     /        3  2017-01-03T11:49:00
16  78  /python-para-zumbis/        3  2017-01-03T11:54:00
17  79              /pandas/        3  2017-01-03T11:57:00
18  80              /videos/        3  2017-01-03T11:32:00
19  82    /django-ecommerce/        3  2017-01-03T11:39:00
20  83              /pandas/        3  2017-01-03T11:51:00
21  85    /django-ecommerce/        3  2017-01-03T10:45:00
22  94    /django-ecommerce/        3  2017-01-03T11:54:00
23  99  /python-para-zumbis/        3  2017-01-03T10:56:00

In [10]:
log_df = database.query('select * from log')

In [11]:
len(log_df)

100