In [1]:
import pandas as pd
from db import DemoDB

In [3]:
database = DemoDB()

Indexing schema. This will take a second...finished!

In [4]:
database.tables

Refreshing schema. Please wait...done!

+--------+---------------+----------------------------------------------------------------------------------+
| Schema | Table         | Columns                                                                          |
+--------+---------------+----------------------------------------------------------------------------------+
| public | Album         | AlbumId, Title, ArtistId                                                         |
| public | Artist        | ArtistId, Name                                                                   |
| public | Customer      | CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalC |
|        |               | ode, Phone, Fax, Email, SupportRepId                                             |
| public | Employee      | EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, |
|        |               |  City, State, Country, PostalCode, Phone, Fax, Email                             |
| public | Genre         | GenreId, Name                                                                    |
| public | Invoice       | InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, B |
|        |               | illingCountry, BillingPostalCode, Total                                          |
| public | InvoiceLine   | InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity                           |
| public | MediaType     | MediaTypeId, Name                                                                |
| public | Playlist      | PlaylistId, Name                                                                 |
| public | PlaylistTrack | PlaylistId, TrackId                                                              |
| public | Track         | TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, Uni |
|        |               | tPrice                                                                           |
+--------+---------------+----------------------------------------------------------------------------------+

In [5]:
album = database.tables.Album.all()

In [6]:
album.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [7]:
artist = database.tables.Artist.all()

In [8]:
artist.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [9]:
album_artist = pd.merge(artist, album)

In [10]:
album_artist.head()

   ArtistId       Name  AlbumId                                  Title
0         1      AC/DC        1  For Those About To Rock We Salute You
1         1      AC/DC        4                      Let There Be Rock
2         2     Accept        2                      Balls to the Wall
3         2     Accept        3                      Restless and Wild
4         3  Aerosmith        5                               Big Ones

In [11]:
album_artist = pd.merge(artist, album, on='ArtistId')

In [12]:
album_artist.head()

   ArtistId       Name  AlbumId                                  Title
0         1      AC/DC        1  For Those About To Rock We Salute You
1         1      AC/DC        4                      Let There Be Rock
2         2     Accept        2                      Balls to the Wall
3         2     Accept        3                      Restless and Wild
4         3  Aerosmith        5                               Big Ones

In [13]:
album.rename(columns={'ArtistId': 'Artist_Id'}, inplace=True)

In [14]:
album.head()

   AlbumId                                  Title  Artist_Id
0        1  For Those About To Rock We Salute You          1
1        2                      Balls to the Wall          2
2        3                      Restless and Wild          2
3        4                      Let There Be Rock          1
4        5                               Big Ones          3

In [15]:
album_artist = pd.merge(album, artist, left_on='Artist_Id', right_on='ArtistId')

In [16]:
album_artist.head()

,AlbumId,Title,Artist_Id,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,4,Let There Be Rock,1,1,AC/DC
2,2,Balls to the Wall,2,2,Accept
3,3,Restless and Wild,2,2,Accept
4,5,Big Ones,3,3,Aerosmith

In [17]:
pd.merge(album, artist, left_on='Artist_Id', right_on='ArtistId').drop('Artist_Id', axis=1)

,AlbumId,Title,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,AC/DC
1,4,Let There Be Rock,1,AC/DC
2,2,Balls to the Wall,2,Accept
3,3,Restless and Wild,2,Accept
4,5,Big Ones,3,Aerosmith
5,6,Jagged Little Pill,4,Alanis Morissette
6,7,Facelift,5,Alice In Chains
7,8,Warner 25 Anos,6,Antônio Carlos Jobim
8,34,Chill: Brazil (Disc 2),6,Antônio Carlos Jobim
9,9,Plays Metallica By Four Cellos,7,Apocalyptica
10,10,Audioslave,8,Audioslave
11,11,Out Of Exile,8,Audioslave
12,271,Revelations,8,Audioslave
13,12,BackBeat Soundtrack,9,BackBeat
14,13,The Best Of Billy Cobham,10,Billy Cobham
15,14,Alcohol Fueled Brewtality Live! [Disc 1],11,Black Label Society
16,15,Alcohol Fueled Brewtality Live! [Disc 2],11,Black Label Society
17,16,Black Sabbath,12,Black Sabbath
18,17,Black Sabbath Vol. 4 (Remaster),12,Black Sabbath
19,18,Body Count,13,Body Count
20,19,Chemical Wedding,14,Bruce Dickinson
21,20,The Best Of Buddy Guy - The Millenium Collection,15,Buddy Guy
22,21,Prenda Minha,16,Caetano Veloso
23,22,Sozinho Remix Ao Vivo,16,Caetano Veloso
24,23,Minha Historia,17,Chico Buarque
25,24,Afrociberdelia,18,Chico Science & Nação Zumbi
26,25,Da Lama Ao Caos,18,Chico Science & Nação Zumbi
27,26,Acústico MTV [Live],19,Cidade Negra
28,27,Cidade Negra - Hits,19,Cidade Negra
29,28,Na Pista,20,Cláudio Zoli
...,...,...,...,...
317,320,Mozart: Symphonies Nos. 40 & 41,248,Berliner Philharmoniker & Herbert Von Karajan
318,336,Prokofiev: Symphony No.5 & Stravinksy: Le Sacr...,248,Berliner Philharmoniker & Herbert Von Karajan
319,317,Mozart Gala: Famous Arias,249,"Sir Georg Solti, Sumi Jo & Wiener Philharmoniker"
320,318,SCRIABIN: Vers la flamme,250,Christopher O'Riley
321,319,Armada: Music from the Courts of England and S...,251,Fretwork
322,321,Back to Black,252,Amy Winehouse
323,322,Frank,252,Amy Winehouse
324,323,Carried to Dust (Bonus Track Version),253,Calexico
325,324,Beethoven: Symphony No. 6 'Pastoral' Etc.,254,Otto Klemperer & Philharmonia Orchestra
326,325,Bartok: Violin & Viola Concertos,255,Yehudi Menuhin
327,326,Mendelssohn: A Midsummer Night's Dream,256,Philharmonia Orchestra & Sir Neville Marriner
328,327,Bach: Orchestral Suites Nos. 1 - 4,257,"Academy of St. Martin in the Fields, Sir Nevil..."
329,328,"Charpentier: Divertissements, Airs & Concerts",258,Les Arts Florissants & William Christie
330,329,South American Getaway,259,The 12 Cellists of The Berlin Philharmonic
331,330,Górecki: Symphony No. 3,260,Adrian Leaper & Doreen de Feis
332,331,Purcell: The Fairy Queen,261,"Roger Norrington, London Classical Players"
333,332,The Ultimate Relexation Album,262,Charles Dutoit & L'Orchestre Symphonique de Mo...
334,333,Purcell: Music for the Queen Mary,263,"Equale Brass Ensemble, John Eliot Gardiner & M..."
335,334,Weill: The Seven Deadly Sins,264,Kent Nagano and Orchestre de l'Opéra de Lyon
336,335,"J.S. Bach: Chaconne, Suite in E Minor, Partita...",265,Julian Bream
337,337,"Szymanowski: Piano Works, Vol. 1",266,Martin Roscoe
338,338,Nielsen: The Six Symphonies,267,Göteborgs Symfoniker & Neeme Järvi
339,339,Great Recordings of the Century: Paganini's 24...,268,Itzhak Perlman
340,340,Liszt - 12 Études D'Execution Transcendante,269,Michele Campanella
341,341,Great Recordings of the Century - Shubert: Sch...,270,Gerald Moore
342,342,"Locatelli: Concertos for Violin, Strings and C...",271,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
343,344,Schubert: The Late String Quartets & String Qu...,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,Philip Glass Ensemble

In [19]:
alunos1 = pd.DataFrame(
    {
        'nome': ['Maria', 'Sofia'],
        'nota': [8, 9],
    }
)
alunos2 = pd.DataFrame(
    {
        'nome': ['João', 'Pedro', 'Maria'],
        'cod': [1, 2, 3],
    }
)

In [23]:
alunos_total = pd.merge(alunos1, alunos2, on='nome')

In [24]:
alunos_total

    nome  nota  cod
0  Maria     8    3

In [25]:
pd.merge(alunos1, alunos2, how='outer')

    nome  nota  cod
0  Maria   8.0  3.0
1  Sofia   9.0  NaN
2   João   NaN  1.0
3  Pedro   NaN  2.0

In [26]:
pd.merge(alunos1, alunos2, how='inner')

    nome  nota  cod
0  Maria     8    3

In [27]:
pd.merge(alunos1, alunos2, how='left')

    nome  nota  cod
0  Maria     8  3.0
1  Sofia     9  NaN

In [28]:
pd.merge(alunos1, alunos2, how='right')

    nome  nota  cod
0  Maria   8.0    3
1   João   NaN    1
2  Pedro   NaN    2